 body{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
}

.alturaT{
    height: 80%;
}

#fondoMenu{
    background-color: black;
}
#bodyLeft {
    display: flex;
    justify-content: inherit ;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    background: lightgray;
    border-right: black solid 3px;
    height: 100%;
    position: relative;
}
label{
    padding-right: 5px;
}
.c1 {
}
.c1 > button{
    float: right ;
}
.c1 label{
    width: 14rem;
}
.c1 input {
    width: 2.5rem;
}

#generateTable {
    margin-top: 5px;
    width: 100%;
}
#fill{
    width: 100%;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2em;

}
.c2 > button{
    margin-top: 1em;
    float: right;
    position: relative;
}
.c2 > input{
    width: 30px;
}


.row{
    margin-left: -15px;
    margin-right: -15px;
}

hr{
    border: 2px solid;
    width: 100%;
    height: 10px;
}

#bodyRight{
    padding-top: 1em;
    padding-bottom: 1em;
}


#resultado{
    position: fixed;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background: #959595;
    color: white;
    
}

.borderTWhite{
    width: 100%;
    height: 3rem;
    padding: 0;
    margin: 0;

    border-bottom: gray solid 2px;
    border-top:black solid 3px;
}

#resultText{
    height: 100%;
    width: 100%;
    background: white;
    margin-top: 3px;
}

.title{
    padding-left: 2rem;
    padding-top: 3px;
    background: #959595;
    color: black;
}

.resultFondo{
    background: black;
}

.resultNoTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 70%;
}

table{
    align-content: center;
}
#tableC{
    overflow: auto;
    max-height: 70%;
}
tr{
    text-align: center;
}
.cell input{
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;

}

.tableTitle{
    font-weight: bold;
    padding: 0rem;
}
